In [1]:
import numpy as np
import pandas as pd

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

import matplotlib.pyplot as plt

import seaborn as sns

from PIL import Image

In [2]:
df=pd.read_csv("twitter_dataset.csv")

In [3]:
df.head()

,Tweet_ID,Username,Text,Retweets,Likes,Timestamp
0,1,julie81,Party least receive say or single. Prevent pre...,2,25,30/01/2023 11:00
1,2,richardhester,Hotel still Congress may member staff. Media d...,35,29,02/01/2023 22:45
2,3,williamsjoseph,Nice be her debate industry that year. Film wh...,51,25,18/01/2023 11:25
3,4,danielsmary,Laugh explain situation career occur serious. ...,37,18,10/04/2023 22:06
4,5,carlwarren,Involve sense former often approach government...,27,80,24/01/2023 07:12

In [4]:
df.shape

(10000, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tweet_ID   10000 non-null  int64
 1   Username   10000 non-null  object
 2   Text       10000 non-null  object
 3   Retweets   10000 non-null  int64
 4   Likes      10000 non-null  int64
 5   Timestamp  10000 non-null  object
dtypes: int64(3), object(3)
memory usage: 468.9+ KB

In [6]:
df.describe()

          Tweet_ID      Retweets         Likes
count  10000.00000  10000.000000  10000.000000
mean    5000.50000     49.721200     49.929300
std     2886.89568     28.948856     28.877193
min        1.00000      0.000000      0.000000
25%     2500.75000     25.000000     25.000000
50%     5000.50000     49.000000     50.000000
75%     7500.25000     75.000000     75.000000
max    10000.00000    100.000000    100.000000

In [7]:
df.isnull().sum()

Tweet_ID     0
Username     0
Text         0
Retweets     0
Likes        0
Timestamp    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
# Calculate summary statistics
mean_retweets = df['Retweets'].mean()
median_likes = df['Likes'].median()
correlation = df['Retweets'].corr(df['Likes'])